<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Robo Bx | View code</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<div class="container">

  <div class="row">
    <div class="col-lg-9">
      <h1>The Robo Bx</h1>
      <hr>
    </div>
    <div class="col-lg-3">
      <br>
      <button type="button" class="btn btn-primary btn-sm">account information</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row well well-md">
        <div class="row">
          <div class="col-md-9">
            <h2><b>{%if name %} {{ name }} {% else %} Code not found {% endif %}</b></h2>
              <pre style="background-color: rgba(255, 255, 255, 1);font-family: monospace">
                  {{ code }}
                </pre>
          </div>
          
        </div>
        {% if name %}
        <div class="row">
          <div class="col-md-10">
            <br><br><br>
            <form action="#">
              <button type="submit" class="btn btn-success btn-lg">Save to robo box</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-2"></div> 

  </div>
</div>
                
 

  </body>
</html>