<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>The Recipe Bx | Search</title>

   <!-- Bootstrap -->
   <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
 </head>
 <body>

   <script src="{{ url_for('static', filename='jquery-1.10.2.js') }}"></script>
   <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

 <div class="container">
   <div class="row">
     <div class="col-lg-9">
       <h1>The Recipe Bx</h1>
       <hr>
     </div>
     <div class="col-lg-3">
       <br>
       <button type="button" class="btn btn-primary btn-sm">account information</button>
     </div>
   </div>

   <div class="row">


   <div class="col-md-2"></div>
   <div class="col-md-6">

     <form class="well well-lg">
       <div class="form-group">
         <div class="row">
           <div class="col-xs-9" style="text-align: left">
             <input class="form-control input-lg" type="text" placeholder="Search recipes...">
           </div>
           <div class="col-xs-3">
             <button type="button" class="btn btn-warning btn-lg">Search</button>
           </div>
         </div>
       </div>

     </form>

     <h3>Results</h3>

     {% for item in list %}

     <div class="row well well-md">
       <div class="row">
         <div class="col-md-10">
           <h4><b>{{item}}</b></h4>
         </div>
       </div>
       <div class="row">
         <div class="col-md-10">
           So delicious! 
         </div>
         <div class="col-md-2">
           {% if item == 'Chicken Parmesan' %}
           <form action="/detail/123">
           {% elif item == 'Eggplant Parmesan' %}
           <form action="/detail/456">
           {% endif %}
           <button type="submit" class="btn btn-success btn-sm">More info</button>
           </form>
         </div>
       </div>
     </div>
     {% endfor %}

   </div> 
   

   </div>

 </div>

   
   
   
   
   
   
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://code.jquery.com/jquery.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
 </body>
</html>